<div class="container-fluid" style="padding-top: 1%;">
    <!-- <div class="row">
        <h4>Land Evaluation System</h4>
    </div> -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col">
                        <kendo-switch style="width: 100px;" [(ngModel)]="isState" [onLabel]="'State'"
                            [offLabel]="'County'"></kendo-switch>
                    </div>
                    <!-- <div class="col">
                        <label *ngIf="isState" class="form-data">State</label>
                        <label *ngIf="!isState" class="form-data">County</label>
                    </div> -->
                    <div class="col">
                        <kendo-dropdownlist *ngIf="isState" [data]="listStates" [valuePrimitive]="true" textField="name"
                            valueField="code" [(ngModel)]="location">
                        </kendo-dropdownlist>
                        <kendo-dropdownlist *ngIf="!isState" [data]="listCounty" [valuePrimitive]="true"
                            textField="name" valueField="code" [(ngModel)]="location">
                        </kendo-dropdownlist>
                    </div>
                    <div class="col">
                        <label class="form-data">Epochs :</label>
                    </div>
                    <div class="col">
                        <kendo-numerictextbox [(ngModel)]="epochs" [min]="1" [max]="10000" [decimals]="0"
                            [format]="'n'">
                        </kendo-numerictextbox>
                    </div>
                    <div class="col">
                        <label class="form-data">Learning Rate :</label>
                    </div>
                    <div class="col">
                        <input kendoTextBox type="number" [(ngModel)]="learningRate" />
                    </div>
                    <div class="col">
                        <button kendoButton (click)="onTrainButtonClick()" [primary]="true"
                            [disabled]="!location">Train</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Validation Loss Graph</h6>
                </div>
                <div class="card-body">
                    <div style="width: 100%; height: 50vh;">
                        <ngx-charts-line-chart [scheme]="colorScheme" [results]="epochGraph" [gradient]="gradient"
                            [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                            [showYAxisLabel]="true" [xAxisLabel]="'Epoch Count'" [yAxisLabel]="'Validation Loss'"
                            [autoScale]="true" [animations]="animations" (select)="onSelect($event)">
                        </ngx-charts-line-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Predictions and Training Graph</h6>
                </div>
                <div class="card-body">
                    <div [hidden]="!isLoading" style="height: 54vh;width: 98%" class="overlay">
                        <h6>Please wait untill the training process end</h6>
                    </div>
                    <div style="width: 100%; height: 50vh;">
                        <ngx-charts-line-chart [scheme]="colorScheme" [results]="validationGraph" [gradient]="gradient"
                            [xAxis]="true" [yAxis]="true" [yScaleMin]="0" [legend]="true" [showXAxisLabel]="true"
                            [showYAxisLabel]="true" [xAxisLabel]="'Year'" [yAxisLabel]="'Land Value Index'"
                            [autoScale]="false" [animations]="animations" (select)="onSelect($event)">
                        </ngx-charts-line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>