<app-shared></app-shared>
<div class="card bg-dark text-white">
    <img class="card-img" src="assets/land-8.jpg" alt="Card image">
    <div class="card-img-overlay" style="text-align: center; padding-top: 5%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      <h1 class="card-title">Find Your Dream Land Here</h1>
      <p class="card-text">Look at market fluctuations as your friend rather than your enemy; profit from folly rather than participate in it</p>
      <!-- <form class="form-inline my-2 my-lg-0" style="padding-top: 2%; padding-left: 40%;">
        <input class="form-control mr-sm-2" style="width: 25%; height: 60px;" type="search" placeholder="Enter an address, city, state or ZIP code" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="height: 60px; width: 6%; background-color: rgb(13, 163, 45); color: white;" type="submit">Search</button>
      </form> -->
      <div class="active-cyan-4 mb-4" style="padding-left: 36%; padding-right: 36%; padding-top: 2%;">
        <input class="form-control" type="search" style="height: 60px; opacity: 0.9;" placeholder="Enter an address, state or ZIP code" aria-label="Search">
      </div>

    </div>
  </div>
<footer>
  <app-footer></app-footer>
</footer>
