<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top sticky-offset" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

  <a class="navbar-brand" href="#">
    <img src="assets/home-3.png" width="30" height="30" alt="">
  </a>

  <a class="navbar-brand" href="#">Land Prediction Platform | </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="font-size: smaller;">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="country">Country-View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="city">City-View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="prediction">ML-Prediction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="padding-right: 10px;">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <button type="button" class="btn btn-default navbar-btn" style="background-color: rgb(173, 172, 172);">Sign in</button>

  </div>
</nav>
