<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
  <div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
      <div class="container"><a class="navbar-brand logo" href="home">Land Evaluation</a><button data-toggle="collapse"
          data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item item" role="presentation"><a class="nav-link active" href="home">HOME</a></li>
            <li class="nav-item item" role="presentation"><a class="nav-link" href="city">Get Estimations</a></li>
            <li class="nav-item item" role="presentation"><a class="nav-link" href="country">Heat Map</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <a class="navbar-brand logo" href="#">Team Minecraft</a><button class="navbar-toggler" data-toggle="collapse"><span
        class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="home">HOME</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="city">Get Estimations</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="country">Heat Map</a></li>
      </ul>
    </div>
  </div>
</nav>