<app-shared></app-shared>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm" style="background-color:white; height: 600px;">

        <head>
          .
          .
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQHA8dF5on7GG0gZwOhgcGrlWxiXvsXS4"
          type="text/javascript"></script>
         </head>

      </div>
      <div class="col-sm" style="background-color:white;">
      </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
